
REQUIREMENTS (Dive)

    Notice

        The code of this Dive version was simply converted from Python 2.x to
        3.x syntax using the 2to3 tool and has only been tested fundamentally.

        If you need a version that works with Python 2.x, you may look here:

            http://www.urbanware.org/dive.html

    General

        Software requirements in general:

            - Python 3.x (version 3.2 or higher is recommended, may also work
                          with earlier versions)

    Deep Dive feature

        Depending on the archive file types from which you want to read out
        content information, some additional archive extraction tools are
        required. These are available for various platforms and can be
        downloaded for free.

        The following tools are supported:

            - UnACE (version 2.50 or higher is recommended, may also work with
                     earlier versions)
            - UnRAR (version 4.2.3 or higher is recommended, may also work
                     with earlier versions)

        Details can be found on the corresponding website of the tool:

            - WinACE website, http://www.winace.com
            - WinRAR website, http://www.rarlab.com

